/* Template author ade kurniawan.
This template was posted and distributed in https://www.indonetsource.com/  */
.container{
    width: 70%;    
    margin: auto;
    border: 1px solid rgb(231, 163, 163);    
}
.container nav {    
     background-color: rgb(51, 59, 124);       
     height: 50px;
}
.full-nav{
    position: relative;     
    width: 100%;
    margin: auto;    
}
.left-nav-content{ 
    position: absolute;        
    display: flex;
    margin-right: 0px;
    padding-left: 10px;   
}
.right-nav-content{      
    right: 0px;
    margin-right: 20px;    
    position: absolute;
    padding-right: 0px;
}
.nav-ins a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}
.nav-ins a:hover{    
    color: rgb(179, 158, 158);
    font-weight: 400;
}

.nav-ins p{
    text-decoration: none;
    color: rgb(152, 153, 209);
    margin: auto;
    
}
.content{
    padding: 2px;
    min-height: 560px;
}
.tbl-ins{    
    border: 1px solid black;
    margin: 4px;
}
.tbl-ins tr td{    
    border: 1px solid rgb(87, 80, 80);
    margin: 4px;
    padding: 5px 10px;    
}
.nav-ins ul {
  display: flex;  
  flex-wrap: wrap;
  padding-left: 0;
}
.nav-ins li {
    list-style: none;        
    text-align: center;
    padding-right: 10px;
}
.form-ins {
    padding: 4px;    
}
.form-ins input {
    padding: 5px;
    margin: 2px;
}
.form-ins select {
    padding: 5px !important;
    margin: 2px;
}
.form-login{
  background-color: rgb(175, 159, 243);
  width: 420px;
  padding: 50px 100px;
  margin:100px auto;   
}
.footer-ins{    
    text-align: center;
    height: 20px;
    background-color: rgb(133, 122, 219); 
    bottom:0px;
}
